.background-container {
    width: 80%;
    height: 100%;
    padding: 10%;
    background-color: red;
    border: 1px solid black;
}

.foreground-container {
    background-color: yellow;
}

.card {
    border-radius: 50px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.blog-post-title {
    text-align: left;
}

.blog-post-date {
    text-align: right;
}

.blog-post-body {
    width: 100%;
}
