@import '../App.scss';

.main-container {
    width: 100vw;
}

.background-container {
    width: 100%;
    padding: 10px 10% 0 10%;

    background-image: url('../assets/images/top swish.png');
    background-repeat: no-repeat;
    background-size: 100% 180px;

    @media(max-width: 610px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.loading-height {
  height: 500px;
}

.logo {
    width: 50%;

    @media(max-width: 1130px) {
        width: 25%;   
    }

    @media(max-width: 930px) {
        width: 100%;   
    }
}

.logo-img {
    width: 75px;
    height: 75px;
}

.logo-item {
    align-self: center;
    font-size: 18pt;
    margin-left: 10px;
    cursor: pointer;
}

.login {
    width: 50%;

    @media(max-width: 1130px) {
        width: 75%;   
    }

    @media(max-width: 930px) {
        display: none !important;   
    }
}

.foreground-container {
    margin-top: 80px;
}

.card {
    border-radius: 50px;
}

.blog-card-header {
    width: 100%;
}

.blog-post-title {
    text-align: left;
}

.edit-icon {
    margin-left: 10px;
    color: grey;
    cursor: pointer;
}

.blog-post-date {
    text-align: right;
}

.blog-post-body {
    width: 100%;
}

.new-post-container {
    padding: 10px 20%;
}

.new-post-title {

}

.title-input {
    width: 100%;
}

.new-post-body {

}

.body-input {
    width: 100%;
}

.new-post-submit {
    text-align: center;
}

textarea {
    height: 200px;
}

.image-upload-container {
    text-align: left;
    border: $secondaryColor solid 1px;
    border-radius: 5px;
    padding: 10px 0 12px 5px;
    margin-bottom: 40px!important;
}

.image-upload {
    display: none;
}

.image-upload-label {
    background-color: $secondaryColor;
    border-radius: 5px;
    padding: 8px;
    color: white!important;
    cursor: pointer;
}

.filename-label {
    margin-left: 5px;
    font-size: 12pt!important;
}


