.background-container {
    width: 80%;
    height: 100%;
    padding: 10%;
    background-color: red;
    border: 1px solid black;
}

.foreground-container {
    background-color: yellow;
}

.card {
    border-radius: 50px;
}