.post {
    padding-top: 20px;
    min-height: 300px;
}

hr {
    width: 60%;
}

.post-image {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-top: 5px;
}

.right {
   float: right;
   margin-left: 15px;
}

.left {
    float: left;
    margin-right: 15px;
}

.image-title-updated-at {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-body {
    width: 100%;
    padding: 0;
    text-align: justify;
    min-height: 220px;
}

.edit-button {
    cursor: pointer;
    color: grey
}