.login-container {
    width: 250px;
    height: 170px;
}

input {
    width: 100%;
}

.login-submit {
    text-align: right;
}

.shrink-button {
    transform-origin: 100% 100%;
    transform: scale(.65);
    transition: transform .5s;
}

.shrink-button:hover {
    transform: scale(.75)!important;
}

.form-element {
    margin: 0;
    padding: 0;
}

.password {
    margin-top: 10px;
}
