.service-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  width: 400px;
  height: 430px;
  border-radius: 20px;
  background-color: white;
}

.blue-card {
  box-shadow: 5px 5px 5px 5px #25398b inset, -5px -5px 5px 5px #25398b inset;
}

.red-card {
  box-shadow: 5px 5px 5px 5px red inset, -5px -5px 5px 5px red inset;
}

.green-card {
  box-shadow: 5px 5px 5px 5px green inset, -5px -5px 5px 5px green inset;
}

.grey-card {
  box-shadow: 5px 5px 5px 5px grey inset, -5px -5px 5px 5px grey inset;
}

.orange-card {
  box-shadow: 5px 5px 5px 5px orange inset, -5px -5px 5px 5px orange inset;
}

.yellow-card {
  box-shadow: 5px 5px 5px 5px yellow inset, -5px -5px 5px 5px yellow inset;
}

span {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px 20px 20px;
  text-align: justify;
}