@import '../App.scss';

.our-clients-main {
    margin-bottom: 80px;
}

.our-clients-img {
    margin: auto;
    width: 20%;
    min-width: 150px;
}

.our-clients-blurb {
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
}

.client-list {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.client-logo-img {
    width: 15%;
    height: 15%;
    min-width: 150px;
    margin: 20px;
}

.our-clients-heading {
    font-size: $headingTextSize;
}
