@import '../App.scss';

.our-clients-main {
    margin-bottom: 80px;
}

.client-logo-img {
    width: 15%;
    height: 15%;
    min-width: 150px;
    margin: 20px;
}

.our-clients-img {
    margin: auto;
    width: 20%;
    min-width: 150px;
}

.our-clients-blurb {
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
}

.client-list {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap
}

.our-clients-heading {
    font-size: $headingTextSize;
}

.anchor-container {
    position: relative;
}

.our-clients-anchor {
    position: absolute;
    top: -200px;
    left: 0;
}