@import '../../App.scss';

.blog-item {
    width: 30%;
    max-height: 500px;
    overflow: hidden;
    position: relative;

    @media(max-width: 600px) {
        width: 80%;
    }
}

.blog-item a {
    text-align: justify;
    text-align-last: left;
    margin: 10px 0;
}

.blog-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 0%, transparent 55%, white 90%, white 100%);
}

.blog-img-and-date {
    position: relative;
}

.blog-img {
    margin-bottom: 20px;
    width: 100%;
}

.blog-date {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: $secondaryColor;
    z-index: 100;
    padding: 5px;
    color: white;

    @media(max-width: 1000px) {
        font-size: 10pt;
    }

    @media(max-width: 700px) {
        font-size: 8pt;
    }

    @media(max-width: 600px) {
        font-size: 12pt;
    }
}

.blog-title {
    color: $primaryColor;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.blog-blurb {
    font-size: 10pt;
    text-align: justify;
}

.read-more-link-container {
    z-index: 100;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;

    .read-more-link {
        color: $secondaryColor;
        background-color: transparent;
        text-transform: uppercase;
        text-decoration: none;

        @media(max-width: 600px) {
            margin-bottom: 30px;
        }
    }
}