@import '../App.scss';

.os-main-container {
  width: 100%;
  min-height: 100vh;
}

.os-background-container {
  width: 80%;
  height: 50vh;
  padding: 10px 10% 0 10%;
  position: relative;

  background-image: url('../assets/images/top swish.png');
  background-repeat: no-repeat;
  background-size: 100% 180px;
}

.os-logo {
  width: 50%;
}

.os-logo-img {
  width: 75px;
  height: 75px;
}

.os-logo-item {
  align-self: center;
  font-size: 18pt;
  margin-left: 10px;
  cursor: pointer;
}

.os-foreground-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.os-top-margin {
  height: 200px;
}

.os-card-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.thats-not-all-container {
  height: 100px;
  font-size: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
