@import '../App.scss';

.os-main-container {
  width: 100%;
  min-height: 100vh;
  pointer-events: none;
}

.os-background-container {
  width: 100vw;
  height: 50vh;
  position: relative;
  pointer-events: none;

  background-image: url('../assets/images/top swish.png');
  background-repeat: no-repeat;
  background-size: 100% 180px;
}

.os-logo {
  width: 50%;
  padding: 20px 0 0 10px;
  pointer-events: none;
}

.os-logo-img {
  width: 75px;
  height: 75px;
  pointer-events: auto;
}

.os-logo-item {
  align-self: center;
  font-size: 18pt;
  margin-left: 10px;
  cursor: pointer;
}

.os-foreground-container {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.os-top-margin {
  height: 200px;
}

.os-bottom-margin {
  height: 30px;
}

.os-card-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  @media(max-width: 1300px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.thats-not-all-container {
  height: 100px;
  font-size: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media(max-width: 1300px) {
    display: none;
  }
}

.mobile-big {
  display: none;
  @media(max-width: 1300px) and (min-width: 440px) {
    display: flex;
  }
}

.mobile-small {
  display: none;
  @media(max-width: 440px) {
    display: flex;
  }
}

.non-mobile {
  @media(max-width: 1300px) {
    display: none;
  }
}
