@import '../App.scss';

.footer-main {
    width: 100vw;
    background-color: black;
}

.footer-swish {
    width: 100%;
    height: 100px;
    background-image: url('../assets/images/footer swish.png');
    background-size: 100% 100%;

    @media(max-width: 1400px) {
        height: 75px;
    }

    @media(max-width: 1000px) {
        height: 50px;
    }

    @media(max-width: 500px) {
        height: 25px;
    }
}

.footer-content {
    align-items: center;
}

.footer-item {
    margin: 2% 0;
}

.footer-logo-img {
    width: 10%;
}

.assertive-solutions {
    width: 40%;
}

.social-media {
    width: 30%;
    color: $secondaryColor;
    font-size: 24pt;

    @media(max-width: 500px) {
        font-size: 18pt;
    }
}